* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 12px;
}

body {
  background-color: #222;
}

.content {
  width: 334px;
  height: 216px;
  overflow-y: auto;
}

.mac {
  background-color: aquamarine;
}

.phone {
  background-color: blanchedalmond;
  border-radius: 10px;
  width: 180px;
  height: 390px;
  overflow-y: auto;
  scrollbar-width: none;
}

.video {
  height: 100%;
  width: 100%;
}

/* .video-tablet {
  width: 334px;
  height: 216px;
} */
